Parkovanie/src/main/java/parkovanie/ParkovaniePortType.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. -->
<definitions targetNamespace="http://parkovanie/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://parkovanie/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://parkovanie/" schemaLocation="ParkovaniePortType_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="zistiPlnost">
    <part name="parameters" element="tns:zistiPlnost"/>
  </message>
  <message name="zistiPlnostResponse">
    <part name="parameters" element="tns:zistiPlnostResponse"/>
  </message>
  <message name="odparkuj">
    <part name="parameters" element="tns:odparkuj"/>
  </message>
  <message name="odparkujResponse">
    <part name="parameters" element="tns:odparkujResponse"/>
  </message>
  <message name="zaparkuj">
    <part name="parameters" element="tns:zaparkuj"/>
  </message>
  <message name="zaparkujResponse">
    <part name="parameters" element="tns:zaparkujResponse"/>
  </message>
  <message name="pocetNavstev">
    <part name="parameters" element="tns:pocetNavstev"/>
  </message>
  <message name="pocetNavstevResponse">
    <part name="parameters" element="tns:pocetNavstevResponse"/>
  </message>
  <portType name="Parkovanie">
    <operation name="zistiPlnost">
      <input ns1:Action="http://parkovanie/Parkovanie/zistiPlnostRequest" message="tns:zistiPlnost" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://parkovanie/Parkovanie/zistiPlnostResponse" message="tns:zistiPlnostResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="odparkuj">
      <input ns3:Action="http://parkovanie/Parkovanie/odparkujRequest" message="tns:odparkuj" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://parkovanie/Parkovanie/odparkujResponse" message="tns:odparkujResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="zaparkuj">
      <input ns5:Action="http://parkovanie/Parkovanie/zaparkujRequest" message="tns:zaparkuj" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://parkovanie/Parkovanie/zaparkujResponse" message="tns:zaparkujResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="pocetNavstev">
      <input ns7:Action="http://parkovanie/Parkovanie/pocetNavstevRequest" message="tns:pocetNavstev" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns8:Action="http://parkovanie/Parkovanie/pocetNavstevResponse" message="tns:pocetNavstevResponse" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

